.homeContainer {
  height: 80%;
}

.mainContainer,
.petsContainer,
.homeContainer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.petsContainer {
  gap: 15px;
}

@media (min-width: 769px) {
  .petsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
