.subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

@media (min-width: 769px) {
  .subContainer {
    width: 345px;
  }
}

.label,
.input {
  width: 100%;
}
